div {
  inline-block;
}

body {
  background-image: url("https://image.freepik.com/free-vector/detergents-supermarket-shelf_23-2147495479.jpg");
  font-size: 25px;

}

#words {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  height: 350px;
  width: 300px;
  background-size: cover;
  background-image: url("http://exchangedownloads.smarttech.com/public/content/d3/d374f5fb-538c-4004-8c22-d2153548bb06/previews/medium/0001.png");
  overflow: scroll;
}

.container {
  display: block;
  margin: auto;
  width: 700px;
  height: 420px;
  background-color: #299bad;
}

img {
  animated: lightSpeedIn;
}


#logo {
  width: 300px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
}

.logo-holder {
  float: right;
}

#dialog {
  margin: auto;
  background-color: lightBlue;
  min-width: 450px;
  max-width: 558px;
  heigth: 350px;
  font-family: 'Gloria Hallelujah', cursive;

}

#dialog p {
  color: black;
  min-width: 450px;
  font-size: 14px;
}

.instructions {
  -webkit-animation-duration: 1.5s;
}

/*.shoppingstack {
  width: 400px
}*/

div.ui-resizable-handle.ui-resizable-s {
  width: 558px;
}
